@import "../../../core/index-noreset.scss";

.#{$css-prefix}column-setting-dialog-title {
    width: 100%;
    box-sizing: border-box;
    position: relative;
}


.#{$css-prefix}column-setting-dialog-tab-wrapper {
    width: 200px;
    left: 0;
    top: -11px;
    position: absolute;

    .fatd-tabs-pure>.fatd-tabs-bar {
        border-bottom: none;
    }
}


.#{$css-prefix}column-setting-dialog-save-group {
    position: absolute;
    right: 26px;
    top: -5px;
}