@import "../core/index-noreset.scss";


.#{$css-prefix}balloon-confirm {
  .#{$css-prefix}balloon-confirm-message {
    padding: 4px 0 8px 0 !important;
    background-color: white !important;
    border-color: white !important;
  }
}


.#{$css-prefix}balloon-confirm-footer {
  padding: 0 0 0 0;
  border-top: 0 solid transparent;
  background: transparent;
}

.#{$css-prefix}balloon-confirm-align-left {
  text-align: left;
}

.#{$css-prefix}balloon-confirm-align-center {
  text-align: center;
}

.#{$css-prefix}balloon-confirm-align-right {
  text-align: right;
}

.#{$css-prefix}balloon-confirm-btn {
  margin-left: 8px;
  margin-right: 0;
}
