@spacing-7: 16px;
@skeleton-color-bg-base: #f2f3f5;
@skeleton-radius-image-border: 4px;
@skeleton-size-image_default: 48px;
@skeleton-size-image_small: 36px;
@skeleton-size-image_large: 60px;
@skeleton-spacing-image_left-margin-right: @spacing-7;
@skeleton-spacing-image_right-margin-left: @spacing-7;

@skeleton-size-row-height: 16px;
@skeleton-spacing-last_row-margin-bottom: @spacing-7;

@skeleton-color-animate-bg: #e5e6eb;
