@import "../../core/index-noreset";

.#{$css-prefix}page-card {
  background: #f6f7f8;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
}

.#{$css-prefix}page-card-inner {
  position: relative;
  padding: 16px;
  background-color: white;
  border-radius: $card-border-radius;
  box-sizing: border-box;
  width: 100%;
}

.#{$css-prefix}page-card-divider {
  height: 20px;
  width: 100%;
  box-sizing: border-box;
  //height: 1px;
  //border: 1px dotted #f2f3f5;
  //margin: 15px 0;
}



.#{$css-prefix}page-card-nobg {
  .#{$css-prefix}page-card-inner {
    background-color: transparent;
    padding: 0;
  }
}



